# CredLink Environment Variables
NEXT_PUBLIC_APP_NAME="CredLink Admin Portal"
NEXT_PUBLIC_APP_ENV="demo"
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_WALLET_URL=https://credlink-gamma.vercel.app/
